body {
	margin: 0;
}

.snowman {
	font-size: 100px;
	position: fixed;
}
.step1 {
	position: fixed;
	border-right: solid black 5px;
	border-top: solid black 5px;
	height: 60px;
	/* left: 60px; */
	width: 60px;
	top: 110px;
}

.step2 {
	position: fixed;
	border-right: solid black 5px;
	border-top: solid black 5px;
	height: 60px;
	width: 60px;
	left: 60px;
	top: 170px;
}
.step3 {
	position: fixed;
	border-right: solid black 5px;
	border-top: solid black 5px;
	height: 60px;
	width: 60px;
	left: 120px;
	top: 230px;

}

.step4 {
	position: fixed;
	border-right: solid black 5px;
	border-top: solid black 5px;
	height: 60px;
	width: 60px;
	left: 180px;
	top: 290px;
}
.step5 {
	position: fixed;
	border-right: solid black 5px;
	border-top: solid black 5px;
	height: 60px;
	width: 60px;
	left: 240px;
	top: 350px;
}
